In [105]:
###############################################
# Python Alıştırmalar
###############################################

In [106]:
###############################################
# GÖREV 1: Veri yapılarının tipleriniz inceleyiniz.
###############################################

In [107]:
x = 8
type(x)

int

In [108]:
y = 3.2
type(y)

float

In [109]:
z = 8j + 18
type(z)

complex

In [110]:
a = "Hello World"
type(a)

str

In [111]:
b = True
type(b)

bool

In [112]:
c = 23 < 22
type(c)

bool

In [113]:
# Sıralıdır
# Kapsayıcıdır
# Değiştirilebilir

l = [1, 2, 3, 4,"String",3.2, False]
type(l)

list

In [114]:
# Değiştirilebilir
# Kapsayıcı
# Sırasız
# Key değerleri farklı olacak

d = {"Name": "Jake",
     "Age": [27,56],
     "Adress": "Downtown"}
type(d)

dict

In [115]:
# Değiştirilemez
# Kapsayıcı
# Sıralı

t = ("Machine Learning", "Data Science")
type(t)

tuple

In [116]:
# Değiştirilebilir
# Sırasız + Eşsiz
# Kapsayıcı

s = {"Python", "Machine Learning", "Data Science","Python"}
type(s)

set

In [117]:
###############################################
# GÖREV 2: Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.
###############################################

In [118]:
text = "The goal is to turn data into information, and information into insight."

In [119]:
text.upper().replace(",", " ").replace(".", " ").split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

In [120]:
###############################################
# GÖREV 3: Verilen liste için aşağıdaki görevleri yapınız.
###############################################

In [121]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]

In [122]:
# Adım 1: Verilen listenin eleman sayısına bakın.
len(lst)

11

In [123]:
# Adım 2: Sıfırıncı ve onuncu index'teki elemanları çağırın.
lst[0]
lst[10]

'E'

In [124]:
# Adım 3: Verilen liste üzerinden ["D","A","T","A"] listesi oluşturun.
data_list = lst[0:4]
data_list

['D', 'A', 'T', 'A']

In [125]:
# Adım 4: Sekizinci index'teki elemanı silin.
lst.pop(8)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [126]:
# Adım 5: Yeni bir eleman ekleyin.
lst.append(100)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 100]

In [127]:
# Adım 6: Sekizinci index'e  "N" elemanını tekrar ekleyin.
lst.insert(8, "N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 100]

In [128]:
###############################################
# GÖREV 4: Verilen sözlük yapısına aşağıdaki adımları uygulayınız.
###############################################

In [129]:
dict = {'Christian': ["America",18],
        'Daisy':["England",12],
        'Antonio':["Spain",22],
        'Dante':["Italy",25]}

In [130]:
# Adım 1: Key değerlerine erişiniz.
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [131]:
# Adım 2: Value'lara erişiniz.
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [132]:
# Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz. (Yöntem 1)
dict.update({"Daisy": ["England",13]})
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [133]:
# Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz. (Yöntem 2)
dict['Daisy'][1] = 13
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [134]:
# Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
dict.update({"Ahmet": ["Turkey", 24]})
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [135]:
# Adım 5: Antonio'yu dictionary'den siliniz.
dict.pop("Antonio")
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [136]:
###############################################
# GÖREV 5: Arguman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atıyan ve bu listeleri return eden fonskiyon yazınız.
###############################################

In [137]:
def func(lst):
  odd_list = []
  even_list = []
  for num in lst:
    if num % 2 == 0:
      even_list.append(num)
    else:
      odd_list.append(num)
  return odd_list, even_list

l = [2,13,18,93,22]

func(l)

([13, 93], [2, 18, 22])

In [138]:
###############################################
# GÖREV 6: Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır.
# Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir.
# Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.
###############################################

In [139]:
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]
for index, ogrenci in enumerate(ogrenciler):
  if index < 3:
    print("Fakültesi: Mühendislik", "Index: " , index, "İsim: ", ogrenci)
  else:
    print("Fakültesi: Tıp", "Index: " , index, "İsim: ", ogrenci)

Fakültesi: Mühendislik Index:  0 İsim:  Ali
Fakültesi: Mühendislik Index:  1 İsim:  Veli
Fakültesi: Mühendislik Index:  2 İsim:  Ayşe
Fakültesi: Tıp Index:  3 İsim:  Talat
Fakültesi: Tıp Index:  4 İsim:  Zeynep
Fakültesi: Tıp Index:  5 İsim:  Ece

In [140]:
###############################################
# GÖREV 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.
###############################################

In [141]:
ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

for ders_kodu, kredi, kontenjan in zip(ders_kodu, kredi, kontenjan):
  print(f"Kredisi {kredi} olan {ders_kodu} kodlu dersin kontenjanı {kontenjan} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

In [142]:
###############################################
# GÖREV 8: Aşağıda 2 adet set verilmiştir.
# Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.
###############################################

In [143]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

In [144]:
def set_func(set1, set2):
    if set1.issuperset(set2):
        print(set1.intersection(set2))
    else:
        print(set2.difference(set1))

set_func(kume1, kume2)
set_func(kume2, kume1)

{'function', 'lambda', 'qcut', 'miuul'}
{'python', 'data'}